In [1]:
from scipy.stats import ks_2samp

In [2]:
import numpy as np

In [3]:
d1 = np.arange(10)
d2 = np.arange(10)

In [4]:
d1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
d2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
ks_2samp(d1, d2)

KstestResult(statistic=0.0, pvalue=1.0)

In [17]:
d3 = np.arange(11)
d4 = np.arange(10)

In [18]:
ks_2samp(d3, d4)

KstestResult(statistic=0.09090909090909091, pvalue=1.0)

In [19]:
d5 = np.arange(100,200)
d6 = np.arange(10)

In [20]:
test = ks_2samp(d5, d6)

In [21]:
test.pvalue

4.2646072253826637e-14

In [22]:
ks_2samp(d1, d2).pvalue

1.0

In [23]:
ks_2samp(d3, d4).pvalue

1.0

In [24]:
import os
os.chdir("../")

In [28]:
train_path="artifact/11_27_2022_17_01_07/data_ingestion/ingested/train.csv"
test_path="artifact/11_27_2022_17_01_07/data_ingestion/ingested/test.csv"

In [29]:
import pandas as pd
train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)

In [30]:
train_df.head()

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,144982,NaN,NaN,NaN,NaN,0.0,0.0,0.0,22.0,...,417600.0,194106.0,390902.0,558246.0,682826.0,3779984.0,50966.0,0.0,NaN,NaN
1,neg,3876,2.000000e+01,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,neg,121322,4.770000e+03,4496.0,0.0,0.0,0.0,0.0,0.0,0.0,...,909456.0,442822.0,875222.0,810230.0,902122.0,480408.0,735778.0,99772.0,0.0,0.0
3,neg,40952,2.130706e+09,732.0,0.0,0.0,0.0,0.0,0.0,0.0,...,292184.0,156782.0,314436.0,336502.0,263772.0,164920.0,271678.0,11076.0,0.0,0.0
4,neg,1542,2.380000e+02,218.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5252.0,1936.0,3474.0,56424.0,326.0,106.0,42.0,0.0,0.0,0.0

In [31]:
test_df.head()

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,676,0.000000e+00,64.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3088.0,1394.0,1972.0,5480.0,4982.0,11292.0,0.0,0.0,0.0,0.0
1,neg,28,1.000000e+01,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,540.0,70.0,58.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
2,neg,1854,2.130706e+09,80.0,0.0,0.0,0.0,0.0,0.0,26904.0,...,6942.0,2972.0,5936.0,6772.0,7928.0,46810.0,564.0,0.0,0.0,0.0
3,neg,39980,9.620000e+02,898.0,0.0,0.0,0.0,0.0,0.0,0.0,...,304472.0,141736.0,289984.0,277082.0,229586.0,163222.0,295762.0,24808.0,0.0,0.0
4,neg,39180,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,431956.0,186138.0,328250.0,262620.0,199958.0,139392.0,192080.0,2988.0,0.0,0.0

In [32]:
train_df.columns

Index(['class', 'aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000',
       'ag_001', 'ag_002', 'ag_003',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=164)

In [33]:
test_df.columns

Index(['class', 'aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000',
       'ag_001', 'ag_002', 'ag_003',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=164)

In [34]:
t1 = train_df['aa_000']
t2 = test_df['aa_000']

In [35]:
ks_2samp(t1, t2)

KstestResult(statistic=0.015479370294039646, pvalue=0.1351136605293679)

In [48]:
def get_drift_repot(base_df, current_df, threshold = 0.5):
    report = {}
    for col in base_df.columns:
        z1 = base_df[col]
        z2 = current_df[col]
        is_same_dist = ks_2samp(z1, z2)
        if threshold <= is_same_dist.pvalue:
            is_found = False
        else:
            is_found = True
        report.update({col: {
            "p_value": float(is_same_dist.pvalue),
            "drift_status": is_found
        }})
    return report

In [49]:
get_drift_repot(train_df, test_df)

{'class': {'p_value': 1.0, 'drift_status': False},
 'aa_000': {'p_value': 0.1351136605293679, 'drift_status': True},
 'ac_000': {'p_value': 0.046202560213298494, 'drift_status': True},
 'ad_000': {'p_value': 0.07853711079038472, 'drift_status': True},
 'ae_000': {'p_value': 0.9809283979076554, 'drift_status': False},
 'af_000': {'p_value': 0.9760687787549422, 'drift_status': False},
 'ag_000': {'p_value': 0.9999999999999981, 'drift_status': False},
 'ag_001': {'p_value': 0.9999999999999998, 'drift_status': False},
 'ag_002': {'p_value': 0.9999999999999948, 'drift_status': False},
 'ag_003': {'p_value': 0.9999228697451806, 'drift_status': False},
 'ag_004': {'p_value': 0.4324916712515867, 'drift_status': True},
 'ag_005': {'p_value': 0.2515346868430759, 'drift_status': True},
 'ag_006': {'p_value': 0.21594484256391644, 'drift_status': True},
 'ag_007': {'p_value': 0.2494065120279626, 'drift_status': True},
 'ag_008': {'p_value': 0.4380118664304392, 'drift_status': True},
 'ag_009': {'p_value': 0.4569810206629873, 'drift_status': True},
 'ah_000': {'p_value': 0.18926604272952818, 'drift_status': True},
 'ai_000': {'p_value': 0.9758710708408725, 'drift_status': False},
 'aj_000': {'p_value': 0.9827840463926668, 'drift_status': False},
 'ak_000': {'p_value': 0.8510850443503477, 'drift_status': False},
 'al_000': {'p_value': 0.6568789319998041, 'drift_status': False},
 'am_0': {'p_value': 0.4773304752636066, 'drift_status': True},
 'an_000': {'p_value': 0.20366371417348483, 'drift_status': True},
 'ao_000': {'p_value': 0.09169419835698922, 'drift_status': True},
 'ap_000': {'p_value': 0.15256510226025122, 'drift_status': True},
 'aq_000': {'p_value': 0.08768366982576115, 'drift_status': True},
 'ar_000': {'p_value': 0.8360198701106953, 'drift_status': False},
 'as_000': {'p_value': 1.0, 'drift_status': False},
 'at_000': {'p_value': 0.5446708511512477, 'drift_status': False},
 'au_000': {'p_value': 1.0, 'drift_status': False},
 'av_000': {'p_value': 0.012209085249167384, 'drift_status': True},
 'ax_000': {'p_value': 0.33230754554253583, 'drift_status': True},
 'ay_000': {'p_value': 0.999999999995348, 'drift_status': False},
 'ay_001': {'p_value': 0.9999999999999645, 'drift_status': False},
 'ay_002': {'p_value': 0.9999999999999993, 'drift_status': False},
 'ay_003': {'p_value': 0.9999999999999948, 'drift_status': False},
 'ay_004': {'p_value': 0.9999999860325294, 'drift_status': False},
 'ay_005': {'p_value': 0.10525956645447487, 'drift_status': True},
 'ay_006': {'p_value': 0.1562472617778733, 'drift_status': True},
 'ay_007': {'p_value': 0.5888333839841049, 'drift_status': False},
 'ay_008': {'p_value': 0.12467038000337483, 'drift_status': True},
 'ay_009': {'p_value': 0.99999999999953, 'drift_status': False},
 'az_000': {'p_value': 0.15905542804456052, 'drift_status': True},
 'az_001': {'p_value': 0.04895975002193165, 'drift_status': True},
 'az_002': {'p_value': 0.14360384614896715, 'drift_status': True},
 'az_003': {'p_value': 0.20119041626842493, 'drift_status': True},
 'az_004': {'p_value': 0.028175725252003514, 'drift_status': True},
 'az_005': {'p_value': 0.11220047058935823, 'drift_status': True},
 'az_006': {'p_value': 0.014747267127459997, 'drift_status': True},
 'az_007': {'p_value': 0.935543110837906, 'drift_status': False},
 'az_008': {'p_value': 0.9959431632203164, 'drift_status': False},
 'az_009': {'p_value': 0.9999999999999861, 'drift_status': False},
 'ba_000': {'p_value': 0.23218934412300107, 'drift_status': True},
 'ba_001': {'p_value': 0.08568893124126353, 'drift_status': True},
 'ba_002': {'p_value': 0.0950307542818768, 'drift_status': True},
 'ba_003': {'p_value': 0.13258750618173298, 'drift_status': True},
 'ba_004': {'p_value': 0.1480865145703466, 'drift_status': True},
 'ba_005': {'p_value': 0.5024926612015009, 'drift_status': False},
 'ba_006': {'p_value': 0.09240349968011297, 'drift_status': True},
 'ba_007': {'p_value': 0.3487988105047469, 'drift_status': True},
 'ba_008': {'p_value': 0.797153582604254, 'drift_status': False},
 'ba_009': {'p_value': 0.25402795526344835, 'drift_status': True},
 'bb_000': {'p_value': 0.21300736260241937, 'drift_status': True},
 'bc_000': {'p_value': 0.4605815960689117, 'drift_status': True},
 'bd_000': {'p_value': 0.0027999707483013165, 'drift_status': True},
 'be_000': {'p_value': 0.07241519748477776, 'drift_status': True},
 'bf_000': {'p_value': 0.05425793577575455, 'drift_status': True},
 'bg_000': {'p_value': 0.1870847389207947, 'drift_status': True},
 'bh_000': {'p_value': 0.15106696244929219, 'drift_status': True},
 'bi_000': {'p_value': 0.23300566218232688, 'drift_status': True},
 'bj_000': {'p_value': 0.2851169618305275, 'drift_status': True},
 'bk_000': {'p_value': 0.549634380897783, 'drift_status': False},
 'bl_000': {'p_value': 0.24091157323331702, 'drift_status': True},
 'bm_000': {'p_value': 0.4466163579450173, 'drift_status': True},
 'bs_000': {'p_value': 0.4579486734393061, 'drift_status': True},
 'bt_000': {'p_value': 0.1700548441552291, 'drift_status': True},
 'bu_000': {'p_value': 0.20589833249065226, 'drift_status': True},
 'bv_000': {'p_value': 0.20589833249065226, 'drift_status': True},
 'bx_000': {'p_value': 0.17308226315982822, 'drift_status': True},
 'by_000': {'p_value': 0.06942344078411222, 'drift_status': True},
 'bz_000': {'p_value': 0.08311887027670606, 'drift_status': True},
 'ca_000': {'p_value': 0.4571344629355216, 'drift_status': True},
 'cb_000': {'p_value': 0.31892912187462796, 'drift_status': True},
 'cc_000': {'p_value': 0.10101790118936393, 'drift_status': True},
 'cd_000': {'p_value': 1.0, 'drift_status': False},
 'ce_000': {'p_value': 0.012637457247009253, 'drift_status': True},
 'cf_000': {'p_value': 0.34822220139410087, 'drift_status': True},
 'cg_000': {'p_value': 0.5997131089934205, 'drift_status': False},
 'ch_000': {'p_value': 0.9999999999994983, 'drift_status': False},
 'ci_000': {'p_value': 0.12803654176519508, 'drift_status': True},
 'cj_000': {'p_value': 0.7930536204854418, 'drift_status': False},
 'ck_000': {'p_value': 0.23748130922309307, 'drift_status': True},
 'cl_000': {'p_value': 0.8140607273335339, 'drift_status': False},
 'cm_000': {'p_value': 0.3865552677761619, 'drift_status': True},
 'cn_000': {'p_value': 1.0, 'drift_status': False},
 'cn_001': {'p_value': 0.9998925300015641, 'drift_status': False},
 'cn_002': {'p_value': 0.6514660434013113, 'drift_status': False},
 'cn_003': {'p_value': 0.4761733011521968, 'drift_status': True},
 'cn_004': {'p_value': 0.36662346568349924, 'drift_status': True},
 'cn_005': {'p_value': 0.2627032989336354, 'drift_status': True},
 'cn_006': {'p_value': 0.24702358626801457, 'drift_status': True},
 'cn_007': {'p_value': 0.36695583678884847, 'drift_status': True},
 'cn_008': {'p_value': 0.27144647343215456, 'drift_status': True},
 'cn_009': {'p_value': 0.7388853365172254, 'drift_status': False},
 'co_000': {'p_value': 0.9836977006247866, 'drift_status': False},
 'cp_000': {'p_value': 0.34128876378206496, 'drift_status': True},
 'cq_000': {'p_value': 0.20589833249065226, 'drift_status': True},
 'cs_000': {'p_value': 0.2454778343141638, 'drift_status': True},
 'cs_001': {'p_value': 0.3570239703361945, 'drift_status': True},
 'cs_002': {'p_value': 0.14995665195106056, 'drift_status': True},
 'cs_003': {'p_value': 0.2540858902358487, 'drift_status': True},
 'cs_004': {'p_value': 0.2695608837391774, 'drift_status': True},
 'cs_005': {'p_value': 0.08885888483306714, 'drift_status': True},
 'cs_006': {'p_value': 0.5692021909631316, 'drift_status': False},
 'cs_007': {'p_value': 0.2528533555693613, 'drift_status': True},
 'cs_008': {'p_value': 0.3700426848952335, 'drift_status': True},
 'cs_009': {'p_value': 0.9999999997951471, 'drift_status': False},
 'ct_000': {'p_value': 0.021285883512900772, 'drift_status': True},
 'cu_000': {'p_value': 0.23619682699913835, 'drift_status': True},
 'cv_000': {'p_value': 0.1785697349105051, 'drift_status': True},
 'cx_000': {'p_value': 0.020979140727457907, 'drift_status': True},
 'cy_000': {'p_value': 0.9999999952219778, 'drift_status': False},
 'cz_000': {'p_value': 0.8281677984830289, 'drift_status': False},
 'da_000': {'p_value': 0.9999999999609107, 'drift_status': False},
 'db_000': {'p_value': 0.8590133764339914, 'drift_status': False},
 'dc_000': {'p_value': 0.18497844779262662, 'drift_status': True},
 'dd_000': {'p_value': 0.31585712391271525, 'drift_status': True},
 'de_000': {'p_value': 0.020702088574375024, 'drift_status': True},
 'df_000': {'p_value': 0.7838574538094205, 'drift_status': False},
 'dg_000': {'p_value': 0.7364660443963091, 'drift_status': False},
 'dh_000': {'p_value': 0.9759295983138692, 'drift_status': False},
 'di_000': {'p_value': 0.9639063533608976, 'drift_status': False},
 'dj_000': {'p_value': 0.981941539686077, 'drift_status': False},
 'dk_000': {'p_value': 0.9688079607583036, 'drift_status': False},
 'dl_000': {'p_value': 0.9603698562345528, 'drift_status': False},
 'dm_000': {'p_value': 0.9566445524176688, 'drift_status': False},
 'dn_000': {'p_value': 0.1744526543508842, 'drift_status': True},
 'do_000': {'p_value': 0.06368755120367575, 'drift_status': True},
 'dp_000': {'p_value': 0.025928316221319636, 'drift_status': True},
 'dq_000': {'p_value': 0.9840883095217999, 'drift_status': False},
 'dr_000': {'p_value': 0.9630426507506413, 'drift_status': False},
 'ds_000': {'p_value': 0.1391886116544584, 'drift_status': True},
 'dt_000': {'p_value': 0.15166174921523623, 'drift_status': True},
 'du_000': {'p_value': 0.3207770373289197, 'drift_status': True},
 'dv_000': {'p_value': 0.3078756531189223, 'drift_status': True},
 'dx_000': {'p_value': 0.18081733136130673, 'drift_status': True},
 'dy_000': {'p_value': 0.4292339376865125, 'drift_status': True},
 'dz_000': {'p_value': 0.998053495922026, 'drift_status': False},
 'ea_000': {'p_value': 0.9984266684706973, 'drift_status': False},
 'eb_000': {'p_value': 0.0191783105457459, 'drift_status': True},
 'ec_00': {'p_value': 0.0850603445824829, 'drift_status': True},
 'ed_000': {'p_value': 0.08868280435914333, 'drift_status': True},
 'ee_000': {'p_value': 0.2591754791937174, 'drift_status': True},
 'ee_001': {'p_value': 0.17317477805611237, 'drift_status': True},
 'ee_002': {'p_value': 0.13459044345888704, 'drift_status': True},
 'ee_003': {'p_value': 0.15739225197936246, 'drift_status': True},
 'ee_004': {'p_value': 0.15527562258615168, 'drift_status': True},
 'ee_005': {'p_value': 0.1381414776761407, 'drift_status': True},
 'ee_006': {'p_value': 0.23265827130894967, 'drift_status': True},
 'ee_007': {'p_value': 0.5338256411640361, 'drift_status': False},
 'ee_008': {'p_value': 0.8884938851710297, 'drift_status': False},
 'ee_009': {'p_value': 0.9988228948633043, 'drift_status': False},
 'ef_000': {'p_value': 0.9982476702593389, 'drift_status': False},
 'eg_000': {'p_value': 0.9985902794295317, 'drift_status': False}}

In [50]:
drift_report = get_drift_repot(train_df, test_df)

In [47]:
from sensor.utils.main_utils import write_yaml_file
write_yaml_file(file_path=os.path.join(os.getcwd(),"report.yaml"), content=drift_report, replace=True)